<div class="container-fluide">
    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <img src="#" alt="photo">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <h2>BOUZANQUET C&eacute;dric</h2> <br>
            <h3>*SLOGAN*</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>
    </div>

    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h4>Le CV de votre d&eacute;veloppeur :</h4><br>
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>


    </div>
</div>