<div class="container-fluide">
    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <form action="/blog/public/deconnexion-confirme" method="post">
                <h4>Voulez-vous vous déconnecter ?</h4>
                <br />
                <input type="submit" name="deconnexion" value="Se deconnecter"/>
                <input type="button" name="retour" value="Annuler" onclick="history.back()"/>
            </form>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
</div>