<div class="container-fluide">
    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <img src="/blog/views/Component/img/utilisateur.png" alt="photo" id="photo">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <h2>BOUZANQUET C&eacute;dric</h2> <br>
            <q> Le développement est un art et je suis un artiste </q>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>
    </div>

    <br><br>

    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="pdf">
                <h4 id="h4_cv">Le CV de votre d&eacute;veloppeur :</h4>
                <a href="/blog/views/Component/pdf/CV_Cédric_BOUZANQUET_2024.pdf" target="_blank" title="Télécharger mon CV" id="a_cv">
                    <h5 id="dl_pdf"><i class="material-icons ddl">file_download</i>&emsp;Télécharger mon CV</h5>
                </a>
            </div>
            
            <br>
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>
    </div>

    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <form action="/blog/public/contact" method="post">
                <input type="hidden" name="token" value="{{session_token}}">
                <h4 id="contact">NOUS CONTACTER</h4>
                <div class="left">
                    <label for="nom">Nom :</label>
                    <input type="text" id="nom" name="nom" placeholder="Nom" required>
                </div>
                <div class="right">
                    <label for="prenom">Prénom :</label>
                    <input type="text" id="prenom" name="prenom" placeholder="Prénom" required>
                </div>

                <label for="mail">Mail :</label>
                <input type="email" id="mail" name="mail" placeholder="Mail" required>

                <label for="sujet">Sujet :</label>
                <input type="text" id="sujet" name="sujet" placeholder="Sujet" required>

                <label for="message">Message :</label>
                <textarea id="message" name="message" cols="40" rows="5" wrap="soft" placeholder="Message" required></textarea>

                <button type="submit" name="envoyer">Envoyer</button>
            </form>
            {% if result is defined %}
                <h3>{{ result }}</h3>
            {% endif %}
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>
    </div>
</div>