<div class="container-fluide">
    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <form action="/blog/public/login-confirm" method="post">
                <input type="hidden" name="token" value="{{session_token}}">
                <p id="form_title">CRÉER UN COMPTE</p>

                <label for="mail">Mail</label>
                <input type="email" name="mail" value="" placeholder="Votre e-mail" require/>
                <br />
                <label for="password">Mot de passe</label>
                <input type="password" name="password" value="" placeholder="Votre mot de passe" require/>
                <br />
                <button type="submit" name="envoyer">SE CONNECTER</button>
                <br />
                <h4>Pas encore inscrit ?</h4>
                <button type="button" onclick="window.location.href='/blog/public/register'">CRÉER UN COMPTE</button>
            </form>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
</div>