<div class="container-fluide">
    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <form action="/blog/public/login-confirm" method="post">
                <input type="email" name="mail" value="" placeholder="Votre e-mail" require/>
                <input type="password" name="password" value="" placeholder="Votre mot de passe" require/>
                <br />
                <button type="submit" name="envoyer">Se connecter</button>
                <br>
            </form>
                <h4 id="inscription">Pas encore inscrit ?</h4>
                <button><a href="/blog/public/register">Inscription</a></button>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
</div>