<div class="container-fluide">
    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <form action="/blog/public/register-confirm" method="post">
                <input type="hidden" name="token" value="{{session_token}}">

                <p id="form_title">CRÉER UN COMPTE</p>

                <div class="left">
                    <label for="nom">Nom</label>
                    <input type="text" name="nom" value="" placeholder="Votre nom" require/>
                </div>
                <br />
                <div class="right">
                    <label for="prenom">Prénom</label>
                    <input type="text" name="prenom" value="" placeholder="Votre Prénom" require/>
                </div>
                <br />
                <label for="mail">Mail</label>
                <input type="email" name="mail" value="" placeholder="Votre e-mail" require/>
                <br />
                <label for="password">Mot de passe</label>
                <input type="password" name="password" value="" placeholder="Votre mot de passe" require/>
                <br />
                <label for="confirm_password">Confirmation mot de passe</label>
                <input type="password" name="confirm_password" value="" placeholder="Confirmez votre mot de passe" require/>
                <br />
                <button type="submit" name="envoyer">CRÉER LE COMPTE</button>
                <br />
                <h4>Déjà inscrit ?</h4>
                <button type="button" onclick="window.location.href='/blog/public/login'">CONNEXION</button>
            </form>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
</div>