<div class="container-fluide">
    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <form action="/blog/public/signOut-confirm" method="post">
                <input type="hidden" name="token" value="{{session_token}}">
                <h4>Voulez-vous vous déconnecter ?</h4>
                <br />
                <button type="submit" name="envoyer">SE DECONNECTER</button>
                <button type="button" name="retour" onclick="history.back()">ANNULER</button>
            </form>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
</div>