<header>
    <div class="container-fluide header_container">
        <div class="row header_row">
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 logo_header center">
                <img src="/blog/views/Component/img/logo_cb.png" alt="Logo" id="logo_header">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 center">
                <h1>Cédric Bouzanquet</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center bottom">
                <nav class="menu">
                    <ul id="header_ul">
                        <li class="header_li"><a href="/blog/public/">Accueil</a></li>
                        <li class="header_li"><a href="/blog/public/all-posts">Posts</a></li>
                        {% if session_id != NULL %}
                            <li class="header_li"><a href="/blog/public/add-post">Ajouter un post</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 center">
                {% if session_id != NULL %}
                   {% if session_admin != NULL %}
                        <a class="connexion" href="/blog/public/admin">Administrateur</a>
                    {% endif %}
                    <a class="connexion" href="/blog/public/signOut">Deconnexion</a>
                {% else %}
                    <a class="connexion" href="/blog/public/login">Connexion</a>
                    <a class="inscription" href="/blog/public/register">Inscription</a> 
                {% endif %} 
            </div>            
        </div>
    </div>
</header>