<header>
    <div class="container-fluide header_container">
        <div class="row header_row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 vertical_center">
                <img src="../views/Component/img/logo_cb.png" alt="Logo" class="logo">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 vertical_center">
                <h1>Le blog de <strong>Cédric</strong></h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 vertical_center">
                <nav class="menu">
                    <ul id="header_ul">
                        <li class="header_li"><a href="./">Accueil</a></li>
                        <li class="header_li"><a href="#">Posts</a></li>
                        <li class="header_li"><a href="#">Ajouter un post</a></li>
                        <li class="header_li"><a href="#">Modifier un post</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 vertical_center">
                <button class="connexion">Connexion</button>
                <button class="inscription">Inscription</button>
            </div>
            <hr>
        </div>
    </div>


</header>