/* BODY */
body {
    margin: 0;
    padding: 15px;
}

main {
    min-height: 600px;
}

.center {
    margin: auto;
    text-align: center;
    padding: 0;
}

.bottom {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #008090;
}

p {
    color: black;
    text-align: justify;
}

q {
    font-size: 22px;
}

.button {
    width: 100%;
    margin: 5px;
}

blockquote {
    font-style: italic;
    font-size: 20px;
    width: 90%;
    margin: auto;
}

/* HEADER */

.test {
    border-right: 1px solid black;
}


.header_container {
    height: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-bottom: 2px solid #008090;
}

.header_row {
    height: 100%;
    margin-bottom: 10px;
}

.logo_header {
    text-align: center;
}

.logo_header img{
    width: 50%;
}

.menu {
    display: table;
    margin: auto;
}

#header_ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header_li {
    list-style: none;
    line-height: 40px;
}

.header_li a {
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
    border-bottom: white solid 4px;
}


.header_li :hover {
    background-color: #008090;
    color: white;
    border-bottom: black solid 4px;
}

/* FOOTER */
.footer_container {
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 2px solid #008090;
}

.footer_row {
    height: 100%;
}

.logo_footer {
    text-align: center;
}

.logo_footer img{
    width: 35%;
}

.borderLR {
    border-left: 3px solid #008090;
    border-right: 3px solid #008090;
    margin: 0;
}

.menu_footer {
    display: table;
    margin: auto;
    margin-top: 5%;
}

.footer_ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer_li {
    list-style: none;
    line-height: 40px;
    margin: auto;
}

.footer_li a {
    display: block;
    color: #008090;
    padding: 0 40px;
    text-transform: uppercase;
    /* border-bottom: white solid 4px; */
    font-weight: bold;
}


.footer_li :hover {
    background-color: #008090;
    color: white;
    border-radius: 10px;
    /* border-bottom: black solid 4px; */
}

.li_logo {
    list-style: none;
    line-height: 40px;
    margin-left: 5%;
}

.li_logo img {
    width: 30px;
}

#socialNetwork {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #008090;
    text-align: center;
}

h5 {
    color: #008090;
}

/* LOGIN / REGISTER */

.connexion {
    color: #008090;
    background-color: white;
    border: white solid 1px;
    border-radius: 15px;
    padding: 5px;
    font-weight: bold;
    width: auto;
}

.inscription {
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 15px;
    border: #008090 solid 1px;
    background-color: #008090;
    color: white;
    font-weight: bold;
    width: auto;
}

.connexion:hover {
    color: white;
    background-color: #008090;
    box-shadow: 0 0 10px #008090;
    border: #008090 solid 1px;

} 

.inscription:hover {
    color: white;
    box-shadow: 0 0 10px #008090;

}

#form_title {
    color: #008090;
    text-align: center;
    font-size: 32px;
    margin: 5px;
    margin-bottom: 10px;
    width: 100%;
}

/* ACCUEIL */
#photo {
    width: 130px;
}

cite {
    font-size: 25px;
}

#pdf {
    display: flex;
    margin: auto;
}

#h4_cv {
    margin: auto;
}

#a_cv {
    margin: auto;
    margin-left: 0;
}

#dl_pdf {
    background-color: #008090;
    font-weight: bold;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

#dl_pdf:hover {
    background-color: #005a66;
}

/* FORMULAIRE DE CONTACT */
form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #008090;
    border-radius: 10px;
    padding: 10px;
}

form label {
    display: block;
    margin-bottom: 8px;
    flex: 0 0 100%; 
}

form input,
form textarea {
    width: calc(100% - 10px); 
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 20px; 
}

form input:last-child,
form textarea {
    margin-right: 0; 
}

form button {
    background-color: #008090;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 0 0 100%; 
    font-size: 18px;
}

form button[name="envoyer"] {
    margin-bottom: 10px;  
}

form button:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;
}

.left {
    float: left;
    width: calc(50% - 5px);
}

.right {
    float: right;
    width: calc(50% - 5px);
}

#contact {
    width: 100%;
    text-align: center;
    height: 30px;
}

/* POSTS */

p { /*a mettre dans body*/
    font-size: 18px;
    color: black;
} 

#titre {
    font-weight: bold;
    font-size: 22px;
    color: #008090;
}

.modify_post {
    font-style: italic;
    font-size: 12px;
    color: darkgrey;
}

#lire_la_suite {
    font-style: italic;
    font-size: 14px;
    color: #008090;
}

#auteur {
    font-weight: bold;
    color: black;
}

#hr_post {
    width: 75%;
    margin-left: 12%;
    border-radius: 10px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #008090;
    text-align: center;
}

.p_header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
}

.content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    /* background-color: red; */
}

/* COMMENT */
.comment {
    border-bottom: 1px solid lightgrey;
    padding: 15px;
}

.comment_message {
    font-size: 16px;
}

#comment_ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.comment_li {
    list-style: none;
    /* line-height: 40px; */
}

.edit_btn {
    color: #008090;
    background-color: white;
    border: white solid 1px;
    border-radius: 15px;
    /* padding: 5px; */

}

.edit_btn:hover {
    color: white;
    background-color: #008090;
    border: #008090 solid 1px;
}

/* ADMINISTRATION */
.admin_img img{
    width: 25px;
}

form h4 {
    width: 100%;
    text-align: center;
    margin: 10px;
}

#denyComment {
    text-align: center;
    font-size: 20px;
}

.autor {
    text-align: right;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
    main {
        min-height: 970px;
    }
    
} 

@media screen and (max-width: 768px) {
    /* FOOTER */
    .borderLR {
        border: 0;
    }

    #socialNetwork {
        margin-top: 40px;
    }

    .li_logo {
        margin-left: 12%;
    }
    
} 

@media screen and (max-width: 480px) {
    /* BODY */
    main {
        min-height: 250px;
    }
    /* HEADER */
    .logo_header img{
        width: 20%;
    }

    /* FOOTER */
    .logo_footer img{
        width: 15%;
    }

    .menu_footer {
        margin-bottom: 5%;
    }

    #socialNetwork {
        margin-top: 0;
    }

    .footer_li a {
        padding: 0 25px;
    }

    .li_logo {
        margin-left: 5%;
    }

    /*  */
}







